*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.title-text{
   color: #E53170;
   font-family: 'Fredoka', sans-serif;
   font-size: 50px;
   }

   .ta-center{
    text-align: center;
   }

   .p-20{
    padding: 20px;
   }

   .m-20{
    margin: 20px;
   }

   .w-70{
    width: 70%;
    margin: 0 auto;
   }

   .font-size{
     font-size: 20px;
   }
   .main-container{
    display: flex;
    justify-content: space-around;
    background-color: white;
    width: 70%;
    margin: 0 auto;
    height: 500px;
    flex-wrap: wrap;
    }

   .container{
    display: flex;
    background-color: black;
    height: 100px;
    width: 400px;
    margin: 20px;
    box-shadow: 5px 5px 5px 5px grey;
    }

    .text-color{
        color: white;
    }

    .mail-color{
        color: #0093E7;
    }

    .description{
        flex-direction: column;
        padding: 20pxpx;
        margin: 10px;
        font-size: 20px;
        font-family: 'Fredoka', sans-serif;

        
    }    
    